<p id="notice"><%= notice %></p>

<p class = "invisible">
  <%= count = @entry_count%>
<!-- total pages -->
<% pages = @entry_count / @per_page %>
<!-- the last page -->

<% if pages % @per_page > 0 %>
  <% pages = pages + 1 %>
<% end %>

<% current = params[:page].to_i %>
<% if current <= pages - 2 %>
  <% next_page = current + 1 %>
<% else %>
  <% next_page = current %>
<% end %>

<% current = params[:page].to_i %>
<% if current > 0 %>
  <% previous_page = current - 1 %>
<% else %>
  <% previous_page = current %>
<% end %>



<p class = "invisible">
<% (0..(pages-1)).each do |i| %>
    <!-- href or link_to, http://xxxxxxxx/yyyy?page=i -->
    <%= link_to i+1, :action => "index", :controller => "ripples", :page => i %>
<% end %>
</p>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.each do |ripple| %>
      <tr>
        <td><%= count - params[:page].to_i * @per_page %><% count = count - 1 %></td>
        <% if ripple.website.blank? %>
            <td><%= ripple.name %></td>
        <% else %>
            <td><%= link_to ripple.name, ripple.website %></td>
        <% end %>
        <td><%= ripple.message %></td>
        <td><%= link_to 'Show', ripple %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style="text-align: center">
  <%= link_to 'Newest', :page => 0 %>
  <span style ="padding: 5px;"> | </span>
  <%= link_to 'Previous 10 Ripples', :page => previous_page %>
  <span style ="padding: 5px;"> | </span>
  <%= link_to 'Next 10 Ripples',  :page => next_page %>
  <span style ="padding: 5px;"> | </span>
  <%= link_to 'Oldest', :page => pages - 1 %>
  <span style ="padding: 5px;"> | </span>
  <%= link_to 'New Ripple', new_ripple_path %>
</div>






