<p id="notice"><%= notice %></p>

<p>
  <a id = "alias">
    <%= @ripple.name %>
  </a>
  <a id = "said">
    <%= '  said:' %>
  </a>

</p>


<p class = "message">

  <%= @ripple.message %>
</p>

<p class = link>
  <% if @ripple.website.blank? %>
  <% else %>
    <td><%= link_to @ripple.website, @ripple.website %></td>
<% end %>
</p>


<%= link_to 'Back to List', ripples_path %>
