// Place all the styles related to the Ripples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{

}

table {
  border-collapse: collapse;
  width: 75%;
  margin-left: 12.5%;
}

thead {
  background: lightgray;
  font-family: Monospace;
  font-size: 20px;
  text-align: left;
}

td {
  background: lightblue;
  padding: 5px;
  border: 1px transparent;
}

tr:nth-child(odd) td{
  background: mediumpurple;
}

tr:nth-child(even) td{
  background: lightblue;
}

.message {
  font-size: 36px;
  font-family: "Comic Sans MS";
  font-stretch: condensed;
  margin-left: 2em;
}

#alias {
  font-size: 25px;
  font-family: "Monotype Corsiva";
}

#said {
  font-size: 22px;
  font-family: Monospaced;

}

.invisible {
  opacity: 0.001;
  color: whitesmoke;
}