<!DOCTYPE html>
<html>
<head>
  <title>Consciousmess</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 id="banner">CONSCIOUS/mess <br/>
    <br/>
  ...a stream of anonymous online ramblings</h1>
<%= yield %>

</body>
</html>
